/*Priching 定價*/
/*各區設定*/
//1-header
//2-priching-main
.priching-main {
    padding: 40px 0 160px;
    img {
        max-width: 180px;
    }
    h2 {
        font-size: 120px;
    }
    h4 {
        width: 50%;
        padding-bottom: 238px;
    }
}

//3-price
.price {
    &-menu {
        gap: 24px;
    }
    &-menu_card {
        width: 49%; //不能寫50%，因為還有間距
        border: 1px solid #525252;
        border-radius: 16px;
    }
    &-menu_cardTitle {
        padding: 20px 32px 136px;
        p {
            color: #F2F2F2;
            font-size: 16px;
            &::before {
                content: '';
                display: inline-block;
                width: 8px;
                height: 8px;
                background-color: #F2F2F2;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
    }
    &-menu_cardBody {
        border-top: 1px solid #525252;
        padding: 20px 32px;
        a {
            color: #FFFFFF;
            &:hover {
                border: 1px solid #FFFFFF;
                border-radius: 16px;
                padding: 10px;
            }
        }
    }
}

//4-norm
.norm {
    padding: 160px 0;
    ul {
        margin-top: -40px;
    }
    li {
        border-bottom: 1px solid #FFFFFF;
        padding: 40px 0;
    }
}

//5-content
.content {
}

/*RWD*/
@media (max-width: 375px){
    //2-priching-main
    .priching-main {
        img {
            max-width: 117px;
        }
        h2 {
            font-size: 48px;
        }
        h4 {
            width: 66.66%;
            padding-bottom: 258px;
        }
    }
    //3-price
    .price {
        &-menu_card {
            width: 100%;
        }
        &-menu_cardTitle {
            padding: 20px 20px 58px;
        }
        &-menu_cardBody {
            padding: 20px;
        }
    }
    //4-norm
    .norm {
        padding: 120px 0;
        ul {
            margin-top: 24px;
        }
        li {
            padding: 24px 0 40px;
        }
    }
}