@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/*全域*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  /*outline: 1px solid #fff*/
}

* {
  outline: 1px solid #000;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

body {
  background-color: #1E1E1E;
  line-height: 1.2;
  font-family: "Noto Sans TC", sans-serif;
  color: #fff;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}

/*RWD*/
@media (max-width: 992px) {
  .container {
    max-width: 992px;
    padding: 0 24px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 12px;
  }
}
/*Home 首頁*/
/*各區設定*/
.header {
  border-bottom: 1px solid #fff;
  padding: 20px 0;
}
.header a {
  color: #fff;
}
.header img {
  max-width: 245px;
}
.header .nav-icon {
  display: none;
}

/*RWD-1-header*/
@media (max-width: 768px) {
  .header {
    padding: 28px 0;
  }
  .header img {
    max-width: 147px;
  }
  .header .nav {
    display: none;
  }
  .header .nav-icon {
    display: block;
  }
}
@media (max-width: 375px) {
  .header {
    padding: 28px 0;
  }
  .header img {
    max-width: 147px;
  }
  .header .nav {
    display: none;
  }
  .header .nav-icon {
    display: block;
  }
}
.main h2 {
  font-size: 120px;
  padding: 40px 0;
}
.main .btn-start {
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 16px;
  padding: 20px 40px;
  margin-bottom: 100px;
}
.main .btn-start:hover {
  color: #020202;
  background-color: #fff;
}

/*RWD-2-main*/
@media (max-width: 768px) {
  .main h2 {
    font-size: 80px;
  }
  .main .effect img {
    width: 33.33%;
  }
}
@media (max-width: 375px) {
  .main {
    /*.effect {
        img {
        width: 33.33%;
        }
    }*/
  }
  .main h2 {
    font-size: 48px;
  }
  .main .btn-start {
    margin-bottom: 180px;
  }
}
.sever {
  padding: 160px 0;
}
.sever-title {
  padding-bottom: 80px;
}
.sever-title h5 {
  white-space: nowrap;
  width: 33.33%;
  padding-right: 24px;
}
.sever-title h4 {
  width: 66.66%;
}
.sever-list {
  gap: 24px;
}
.sever-listCard {
  width: 33.33%;
  border: 1px solid #525252;
  padding: 80px 40px;
  border-radius: 16px;
}
.sever-listCard:hover {
  border-color: #fff;
}

/*RWD-3-sever*/
@media (max-width: 768px) {
  .sever h4, .sever h5 {
    width: 90%;
  }
  .sever-listCard {
    width: 90%;
    /*width: 66.66%;*/
  }
}
@media (max-width: 375px) {
  .sever {
    padding: 120px 0;
  }
  .sever-title {
    padding-bottom: 48px;
  }
  .sever h4, .sever h5 {
    width: 100%;
  }
  .sever-listCard {
    width: 100%;
  }
}
.partner-logo {
  /*兩側陰影做法go*/
  position: relative;
  white-space: nowrap;
  overflow-x: auto;
  /*兩側陰影做法end*/
  /*參考同學做法1(兩側陰影)：https://codepen.io/Eero-Chiao/pen/OJBdyYg
  position: relative;
  overflow: hidden;
  &::before, &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1;
      box-shadow: 0 0 80px 80px #1E1E1E;
  }*/
  /*background: linear-gradient();*/
}
.partner-logo::before, .partner-logo::after {
  position: absolute;
  content: "";
  top: 10;
  bottom: 0;
  box-shadow: 0 0 100px 100px #1E1E1E;
}
.partner-logo img {
  width: 160px;
  height: 40px;
  padding: 0 20px;
}
.partner-message {
  padding: 160px 0;
  gap: 24px;
}
.partner-messageCard {
  width: 33.33%;
  padding: 40px;
  background: rgba(255, 255, 255, 0.0784313725); /*background: rgba(255, 255, 255, 0.08);*/
  border-radius: 16px;
}

/*RWD-4-partner*/
@media (max-width: 768px) {
  .partner-messageCard {
    width: 90%;
  }
}
@media (max-width: 375px) {
  .partner-messageCard {
    width: 100%;
  }
}
.content {
  color: #020202;
  background-color: #fff;
  border-radius: 160px;
  padding: 160px 0;
}
.content h3 {
  text-align: center;
}

.search {
  background-color: #F2F2F2;
  border-radius: 16px;
  padding: 20px 40px;
}
.search-tool {
  width: 100%;
  color: #919191;
  /*去除預設樣式↓↓*/
  border: 0;
  outline: none;
  /*去除預設樣式↑↑*/
  background-color: #F2F2F2;
}

.selectAd-itemsAll {
  position: relative; /*父*/
}
.selectAd-itemsAll-btn, .selectAd-itemsAll-list {
  background-color: #fff;
  border-radius: 16px;
}
.selectAd-itemsAll-btn {
  border: 1px solid #F2F2F2;
  padding: 20px 40px;
}
.selectAd-itemsAll-btn:hover {
  border-color: #020202;
}
.selectAd-itemsAll-list {
  position: absolute; /*子*/
  left: 0;
  width: 240px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1490196078);
  padding: 20px 0;
  margin-top: 4px;
  display: none;
}
.selectAd-itemsAll-list a {
  display: block;
  color: #020202;
  padding: 4px 40px;
}
.selectAd-itemsAll-list a:hover {
  background-color: #F2F2F2;
}
.selectAd-itemsAll .itemsAll-list-btm {
  position: relative;
}
.selectAd-itemsAll .itemsAll-list-btm::after {
  content: "";
  position: absolute;
  display: block;
  width: 168px;
  padding-bottom: 12px;
  border-bottom: 1px solid #F2F2F2;
  margin-bottom: 8px;
}
.selectAd-Newold {
  position: relative; /*父*/
}
.selectAd-Newold-btn, .selectAd-Newold-list {
  background-color: #FFFFFF;
  border-radius: 16px;
}
.selectAd-Newold-btn {
  border: 1px solid #F2F2F2;
  padding: 20px 40px;
}
.selectAd-Newold-btn:hover {
  background-color: #F2F2F2;
}
.selectAd-Newold-list {
  position: absolute; /*子*/
  right: 0; /*固定位置*/
  margin-top: 4px; /*間距，給top:4px會跑到最上面*/
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1490196078);
  padding: 16px 0;
  display: none; /*預設隱藏*/
}
.selectAd-Newold-list a {
  display: block;
  padding: 4px 40px;
}
.selectAd-Newold-list a:hover {
  background-color: #F2F2F2;
}
.selectAd .selectAd-Newold-list.show, .selectAd .selectAd-itemsAll-list.show {
  display: block;
}
.selectAd-nav {
  gap: 0 20px;
  overflow-x: auto;
}
.selectAd-nav button {
  font-size: 16px;
  line-height: 1.5;
  color: #919191;
  background-color: #fff;
  border-radius: 16px;
  border: 0;
  padding: 8px 16px;
  white-space: nowrap;
}
.selectAd-nav button:hover {
  border: 1px solid #F2F2F2;
}
.selectAd-nav button:active, .selectAd-nav button:focus {
  background-color: #F2F2F2;
  color: #020202;
  font-weight: 700;
  border: 0;
}
.selectAd .optg-style {
  border-bottom: 1px solid #F2F2F2;
}

.content_list {
  padding: 40px 0;
}
.content_list-card-img {
  overflow: hidden;
  /*img {
      transition: 1.5s; //img以1.5秒時速放大
      &:hover {
      transform: scale(1.5, 1.5); //img x&y軸放大1.5倍
      }
  }*/
  /*原設定碰到圖片時hover圖片放大，改為碰到框格區域(li)皆會放大*/
}
.content_list-card {
  max-width: 416px;
  border: 1px solid #F2F2F2;
  border-radius: 16px;
  overflow: hidden;
  /*改為碰到框格區域(li)皆會放大*/
}
.content_list-card:hover img {
  transition: 1.5s;
  transform: scale(1.5, 1.5);
}
.content_list-card-title, .content_list-card-body {
  padding: 20px 32px;
}
.content_list-card-body {
  border-top: 1px solid #F2F2F2;
}
.content_list-card-body a {
  color: #020202;
}

.content-btn {
  gap: 0 4px;
}
.content-btn button {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
  width: 48px;
  height: 48px;
  border-radius: 16px;
  border: 0;
  background-color: #fff;
}
.content-btn button:hover {
  border: 1px solid #000;
}
.content-btn button:active, .content-btn button:focus {
  color: #fff;
  background-color: #020202;
}

/*RWD-5-content*/
@media (max-width: 768px) {
  .content {
    border-radius: 80px;
  }
  .selectAd-itemsAll {
    order: 1;
  }
  .selectAd-nav {
    order: 3;
  }
  .selectAd-Newold {
    order: 2;
  }
  .content_list-card {
    max-width: 110%;
  }
  .content_list-card img {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .content {
    border-radius: 20px;
  }
  /*.selectAd {
      &-itemsAll{
          order: 1;
      }
      &-nav {
          order: 3;
      }
      &-Newold {
          order: 2;
      }
  }*/
  .content_list {
    padding: 48px 0 32px;
  }
}
/*6-use*/
.use a {
  color: #fff;
}
.use-top {
  text-align: center;
  padding: 160px 0;
}
.use-top-btn {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 16px;
  padding: 20px 40px;
}
.use-bottom {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 80px 0;
}
.use-bottom img {
  max-width: 245px;
}

/*RWD*/
@media (max-width: 375px) {
  /*6-use*/
}
/*7-footer*/
.footer {
  padding: 32px 0;
}
.footer a {
  color: #fff;
  padding: 24px 0;
}
.footer-sideL-link {
  gap: 20px;
}
.footer-sideR {
  white-space: nowrap;
}

/*RWD*/
@media (max-width: 375px) {
  /*7-footer*/
  .footer {
    padding: 0;
  }
  .footer-sideL {
    position: relative;
    padding: 32px 0;
  }
  .footer-sideR {
    position: absolute;
    right: 12px;
  }
}
/*RWD*/
/*Priching 定價*/
/*各區設定*/
.priching-main {
  padding: 40px 0 160px;
}
.priching-main img {
  max-width: 180px;
}
.priching-main h2 {
  font-size: 120px;
}
.priching-main h4 {
  width: 50%;
  padding-bottom: 238px;
}

.price-menu {
  gap: 24px;
}
.price-menu_card {
  width: 49%;
  border: 1px solid #525252;
  border-radius: 16px;
}
.price-menu_card:hover {
  border-color: #FFFFFF;
}
.price-menu_cardTitle {
  padding: 20px 32px 136px;
}
.price-menu_cardTitle p {
  color: #F2F2F2;
  font-size: 16px;
}
.price-menu_cardTitle p::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #F2F2F2;
  border-radius: 50%;
  margin-right: 10px;
}
.price-menu_cardBody {
  border-top: 1px solid #525252;
  padding: 20px 32px;
}
.price-menu_cardBody a {
  color: #FFFFFF;
}
.price-menu_cardBody a:hover {
  border: 1px solid #FFFFFF;
  border-radius: 16px;
  padding: 10px;
}

.norm {
  padding: 160px 0;
}
.norm ul {
  margin-top: -40px;
}
.norm li {
  border-bottom: 1px solid #FFFFFF;
  padding: 40px 0;
}

.qa {
  font-weight: 900;
  color: #FFFFFF;
  padding: 160px 0;
}
.qa h5 {
  width: 33.333%;
}
.qa ul {
  width: 66.66%;
  margin-top: -16px;
  margin-bottom: -16px;
}
.qa ul li {
  padding: 16px 0;
}
.qa ul a {
  width: 100%;
  color: #FFFFFF;
  border: 1px solid #525252;
  border-radius: 16px;
  padding: 20px 0 20px 40px;
}
.qa ul a:hover {
  border-color: #FFFFFF;
}
.qa ul a:active {
  border: 2px solid #FFFFFF;
}
.qa-box-showme.show {
  display: block;
}

/*RWD*/
@media (max-width: 375px) {
  .priching-main img {
    max-width: 117px;
  }
  .priching-main h2 {
    font-size: 48px;
  }
  .priching-main h4 {
    width: 66.66%;
    padding-bottom: 258px;
  }
  .price-menu_card {
    width: 100%;
  }
  .price-menu_cardTitle {
    padding: 20px 20px 58px;
  }
  .price-menu_cardBody {
    padding: 20px;
  }
  .norm {
    padding: 120px 0;
  }
  .norm ul {
    margin-top: 24px;
  }
  .norm li {
    padding: 24px 0 40px;
  }
  .qa {
    padding: 120px 0;
  }
  .qa ul {
    width: 100%;
  }
}
/*排版設定*/
.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.jcfe {
  justify-content: flex-end;
}

.aic {
  align-items: center;
}

.fxdc {
  flex-direction: column;
}

.fxww {
  flex-wrap: wrap;
}

.fw-block {
  font-weight: 900;
}

.fw-bold {
  font-weight: 700;
}

.fw-regular {
  font-weight: 400;
}

.fz-12 {
  font-size: 12px;
}

.fz-14 {
  font-size: 14px;
}

.fz-16 {
  font-size: 16px;
}

.fz-20 {
  font-size: 20px;
}

.fz-24 {
  font-size: 24px;
}

.fz-32 {
  font-size: 32px;
}

.fz-48 {
  font-size: 48px;
}

.fz-80 {
  font-size: 80px;
}

.lh1_5 {
  line-height: 1.5;
}

.saerchRgb {
  color: #919191;
}

.selectRgb {
  color: #020202;
}

.cardRgb {
  color: #525252;
}

.pr-12 {
  padding-right: 12px;
}

.pr-16 {
  padding-right: 16px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-100 {
  padding-right: 100px;
}

.pl-12 {
  padding-left: 12px;
}

.pl-40 {
  padding-left: 40px;
}

.pb-4 {
  padding-bottom: 4px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-40 {
  padding-top: 40px;
}

.ml-20 {
  margin-left: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

/*RWD*/
@media (max-width: 768px) {
  .fxdc-m {
    flex-direction: column;
  }
  .fxww-m {
    flex-wrap: wrap;
  }
  .jcc-m {
    justify-content: center;
  }
  .aic-m {
    align-items: center;
  }
  .fz-m-48 {
    font-size: 48px;
  }
  .pb-m-24 {
    padding-bottom: 24px;
  }
  .mb-m-18 {
    margin-bottom: 18px;
  }
}
@media (max-width: 375px) {
  .jcc-s {
    justify-content: center;
  }
  .aifs-s {
    align-items: flex-start;
  }
  .fxdc-s {
    flex-direction: column;
  }
  .fxww-s {
    flex-wrap: wrap;
  }
  .fxdcr-s {
    flex-direction: column-reverse;
  }
  .fz-s-16 {
    font-size: 16px;
  }
  .fz-s-20 {
    font-size: 20px;
  }
  .fz-s-28 {
    font-size: 28px;
  }
  .fz-s-32 {
    font-size: 32px;
  }
  .fz-s-48 {
    font-size: 48px;
  }
  .pb-s-24 {
    padding-bottom: 24px;
  }
  .pb-s-32 {
    padding-bottom: 32px;
  }
  .pb-s-40 {
    padding-bottom: 40px;
  }
  .pb-s-64 {
    padding-bottom: 64px;
  }
  .mt-s-8 {
    margin-top: 8px;
  }
  .mb-s-12 {
    margin-bottom: 12px;
  }
  .mb-s-16 {
    margin-bottom: 16px;
  }
  .mb-s-24 {
    margin-bottom: 24px;
  }
}/*# sourceMappingURL=all.css.map */